*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 12px;
    color:#777;
    font-weight: 100;
    background-color: rgb(46, 131, 46);
}

.conteiner{
    max-width: 1000px;
    margin: 0 auto;
}

#contact{
    background-color: rgb(212, 216, 219);
    padding: 25px;
    margin: 150px 0;

}

h1{
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}
h2{
    margin: 5px 0 15px;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
}

fieldset{
    border: medium none !important;
    padding: 0;
    margin: 0 0 10px;
    width: 100%;

}

#input-name,#input-email,#input-number,#input-website,#input-textarea,#input-button{
    width: 100%;
    border: 1px solid #ccc;
    background:  #fff;
    margin: 0 0 5px;
    padding: 10px;
}

#input-textarea{
    height: 100px;
    max-width: 100%;
    resize: none;
}

#input-button{
    cursor: pointer;
    width: 100%;
    border: none;
    background: rgb(127, 187, 38);
    color: antiquewhite;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

#input-button:hover{
    background-color: rgb(151, 168, 56);

}

.copyright{
    text-align: center;
}

@media(min-width:800px) and (max-width:1200px){
    body{
        font-size: 45px;
        color:red;
    }
    .container{
        color: green;
        width: 200px;
       
    }
}

@media(min-width:0px) and (max-width:400px){
    body{
        font-size: 18px;}
        #input-button{
    
            width:150px;
            height: 80px;
            border:1px solid #ccc;
            line-height:70px; 
            text-align:center;
            font-size: 25px;
            background-color: aqua;
            color: black;
            font-weight: 900;
            margin-bottom: 10px;
            margin-top: 10px;
        
          }
          #input-button:hover >span{
            color:#fff;
            font-weight:bold;
          }
          #input-button:hover{  
            background:rgb(31, 155, 79);
          }
    }

/* #input-button{
    
    width:150px;
    height: 80px;
    border:1px solid #ccc;
    line-height:70px; 
    text-align:center;
    font-size: 25px;
    background-color: aqua;
    color: black;
    font-weight: 900;
    margin-bottom: 10px;
    margin-top: 10px;
    display: block;
    margin: auto;

  }
  #input-button:hover >span{
    color:#fff;
    font-weight:bold;
  }
  #input-button:hover{  
    background:rgb(31, 155, 79);
  } */