#seven-paragraph{
    background: blue;
    font-size: 35px;
    font-weight:bold;
    border: 3px solid red;
    
}

.two-four-six-paragraph{
    color:white;
    background: black;
    font-size: 27px;
    font-style:italic;
    text-decoration: underline;
}

.rest-paragraph{
    font-size: 25px;
    border-right: 3px solid red;
}

span{
    color: red;
}