body{
    position: relative;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    line-height: 1.4;
    color:#000;
    min-width: 320px;
  
    height: auto;
}

.navbar {
    width: 100%;
    height: 70px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .1);

}
.navbar .container {
    height: inherit;
    display: flex;
    float: left;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu {
    list-style-type: none;
    padding-left: 0 ;
    margin-bottom: 0;

}

.navbar-menu li{
    display: inline-block;
}

.navbar-menu li a{
    display: inline-block;
    color: #000;
    padding: 30px 30px;
    text-decoration: none;
    opacity:0.6;
    transition: all .07s ease-in-out;
    
} 
.navbar-menu li a:hover{
   opacity: 1;
} 


.callback{
    margin-left: 200px;
    padding: 14px;
    background-color: coral;
    color: #fff;
    border-radius: 100px;
    text-decoration: none;

}

.navbar-brand{
    font-weight: 700;
    font-size: 44;
    text-decoration: none;
    color:#000;
}
.navbar-brand:hover {
    color: coral;

}


